/* Small devices up to 768px */
@media only screen and (max-width: 768px) {
    #home {
        background-size: cover;
        background-position-x: 10%;
        background-position-y: -30px;
    }
    #home h1, h3 {
        line-height: 20px;
        font-size: 30px;
    }
    .divider .divider-wrapper {
        padding: 15px 15px 15px 15px;
        font-size: 18px;
        bottom: 15px;
    }
    #portfolio {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #portfolio .mt30 {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #portfolio .col-xs-6 {
        width: 85%;
        padding-bottom: 15px;
    }
  }